repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-ast
    -   id: check-json
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.7.2
  hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff
      name: sort imports with ruff
      args: [--select, I, --fix]
    - id: ruff-format
